* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: large;
}

.app {
    text-align: center;
    text-align: justify;
    left: 50%;
    top: 50%;
}

.quoteCard {
    margin: 10% 25% auto 25%;
    padding: 2rem;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 3px 4px 12px black;
    width: 400px;
}

.quoteCard ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 24px;
}

.quoteCard ul li i {
    font-size: 45px;
    color: aliceblue;
}

.quoteCard button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 0.5rem;
}